@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.leaderboard {
  margin: 0;
  padding: 100px 0 100px;
  width: 100%;
  background-color: #093a92;
  word-spacing: 5px;
  font-family: "Play", sans-serif;
  font-size: 1rem;
  color: #fff;

  background: rgb(6, 1, 96);
  background: linear-gradient(
    146deg,
    rgba(6, 1, 96, 1) 0%,
    rgba(13, 13, 167, 1) 37%,
    rgba(83, 219, 246, 1) 100%
  );
}

.grad-bg {
  background: rgb(10, 2, 149);
  background: linear-gradient(
    200deg,
    rgba(10, 2, 149, 1) 0%,
    rgba(13, 13, 167, 1) 37%,
    rgba(67, 219, 249, 1) 100%
  );
}

.leaderboard-container {
  width: 80%;
  margin: 0 auto;
}

.game-name {
  font-size: clamp(20px, 8vw, 700px);

  text-align: center;
  font-family: "Play", sans-serif;
  margin-bottom: 35px;
}

.time-range {
  padding-bottom: 60px;
}

.time-range-items {
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
}

.time-range-items button {
  padding: 8px 25px;
  transition: color 0.1s ease-in;
}

.time-range-items button:hover {
  color: #75b4e5;
}

/* PLAYERS SECTION */

.players {
  padding-bottom: 40px;
}

.top-player-name {
  font-size: 1.25rem;
}

.top-players {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  text-align: center;
}

.top-players-item {
}

.top-players-item img {
  width: 75px;
  margin: 0 0 22px;
}

.top-player-points {
  margin: 6px 0 0;
}

/*  RANKS SECTION */
.player-ranks-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 7px 0;
  margin-bottom: 25px;
}

.player-icon {
  width: 62px;
}

.player-icon,
.top-players-item img:hover {
  cursor: pointer;
}
