.user-card {
    /*border-radius: 15px;*/
    color: white;
    width: 400px;
    height: 725px;
    background-color: rgb(27, 125, 229);
    /* margin: 50px; */
    padding: 60px 40px;
    /* font-family: "Lucida Console", "Courier New", monospace; */
    text-align: center;
    float: left;
}

.profilePicture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    
}

.username {
    font-size: 2.25em;
    font-weight: bolder;
    display: inline;
    /* margin-left: 50px; */
    /* background-color: aquamarine; */
    /* Consider how to add cutting off ellipsis for username */
    overflow-x: hidden;
    text-overflow: ellipsis;  
    
}

.bio {
    font-size: 1.5em;
}

/* Button for editing */
.editButton {
    /* How to fix position in relation to username */
    /* Still looks somewhat jostled and uneven, but works */
    height: 50px;
    width: 50px;
    margin-left: 300px;
    margin-top: -50px;
    /* background-color: aquamarine; */
}

/* Added button hover and press effect */
.editButton:hover {
    background-color: blue;
    scale: 1.1;
}


.editButton:active {
    transform: scale(0.8);
}

/* Customized description to make words fit within box */
.description {
    font-size: 85%;
    /* background-color: aquamarine; */
    /* overflow-x: auto; */
    /* white-space: nowrap; */
    margin: 0px -10px;
    padding: 10px 0;
    word-wrap: break-word;
}

